/* 
style type ="text/css"> */
body {
    color: rgb(179, 255, 0);
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
font-size: 400%
background-color: brown;
padding: 100px;
}

